# Binaries
advplc
advpp-ide
advcfg
adveditor
*.exe
*.out
*.app
*.deb

# Go

vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
debian/
data/

# Artefatos de exemplo
demo1.bytecode
hello_exec
ui-test
